<div>
    <h2>Project Details for {{ project.name }}</h2>
    <h3>Tasks:</h3>
    <div>
        <input id="add_task_name" placeholder="Task Name" />
        <button onclick='add_task(document.getElementById("add_task_name").value, {{ project.id }});'>Add Task</button>
    </div>
    <ul>
        {% for task in project.tasks %}
            <li>
                <a href="javascript:void(0)" onclick="get_task({{ task.id }})" >
                    {{ task.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    </ul>
</div>
